@{
    ViewBag.Title = "Introdução";
}
<h2>@ViewBag.Title.</h2>
<h3>
    Teste prático para Desenvolvedor Trainee
</h3>

<p>
    Teste Pratico direcionado a Oba Box,
    Executado por Estudante pretendentea posição de Trainee,O teste consiste em desenvolver uma tela de cadastro para persistir os dados de clientes, seus endereços e vincular as lojas que ele já comprou. O trabalho precisa ser realizado utilizando o Visual Studio num projeto ASP.NET Web Application no template MVC.
</p>
